[submodule "openmpf"]
	path = openmpf
	url = ../openmpf
[submodule "openmpf-cpp-component-sdk"]
	path = openmpf-cpp-component-sdk
	url = ../openmpf-cpp-component-sdk
[submodule "openmpf-java-component-sdk"]
	path = openmpf-java-component-sdk
	url = ../openmpf-java-component-sdk
[submodule "openmpf-python-component-sdk"]
	path = openmpf-python-component-sdk
	url = ../openmpf-python-component-sdk
[submodule "openmpf-build-tools"]
	path = openmpf-build-tools
	url = ../openmpf-build-tools
[submodule "openmpf-components"]
	path = openmpf-components
	url = ../openmpf-components
[submodule "openmpf-contrib-components"]
	path = openmpf-contrib-components
	url = ../openmpf-contrib-components
[submodule "openmpf-docker"]
	path = openmpf-docker
	url = ../openmpf-docker